body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar {
    background-color: #333;
    overflow: hidden;
    
    /*display: flex;*/
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh; /* Set the height to fill the entire viewport */
    width: 50px;
    transition: width 0.3s;
}

.navbar.active {
    width: 200px; /* Adjust the expanded width as needed */
}

.navbar-buttons {
    display: none;
    flex-direction: column;
}

.nav-button {
    background-color: #444;
    color: white;
    border: none;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
}

.menu-icon span {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    font-size: 1.5em;
    cursor: pointer;
}


.form-container {
    background-color: white;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Adjust styles for vertical navbar */
.menu-icon {
    /*float: left; Float the icon to the left */
    order: 1;
    margin-bottom: auto;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group input {
    width: 300px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box; /* Added to include padding in the width */
}

button {
    padding: 10px 15px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #555;
}

.button-group {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.button-group button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    margin-right: 10px;
}

.button-group button:last-child {
    margin-right: 0;
}

button:hover {
    background-color: #0056b3;
}

#message {
    margin-top: 20px;
    color: #fff;
    padding: 10px;
    border-radius: 4px;
}

.success {
    background-color: #28a745;
}

.error {
    background-color: #dc3545;
}
