body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.navbar {
    background-color: #333;
    overflow: hidden;
    
    /*display: flex;*/
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh; /* Set the height to fill the entire viewport */
    width: 50px;

    transition: width 0.3s;
}

.navbar.active {
    width: 200px; /* Adjust the expanded width as needed */
}

.navbar-buttons {
    display: none;
    flex-direction: column;
}

.nav-button {
    background-color: #444;
    color: white;
    border: none;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
}


.menu-icon span {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    font-size: 1.5em;
    cursor: pointer;
}

/* Adjust styles for vertical navbar */
.menu-icon {
    /*float: left; Float the icon to the left */
    order: 1;
    margin-bottom: auto;
}

.upload-container {
    text-align: center;
}

.upload-area {
    border: 2px dashed #000;
    border-radius: 10px;
    padding: 50px;
    margin-bottom: 20px;
    width: 300px; /* You can adjust the size as needed */
    height: 200px; /* You can adjust the size as needed */
    display: flex;
    align-items: center;
    justify-content: center;
}

.upload-area p {
    text-align: center;
    color: #888;
    margin: 0;
}

#upload-btn {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
}

#upload-btn:hover {
    background-color: #555;
}


/* form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

form input[type="text"], form input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    background-color: #d32323;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
}

form button:hover {
    background-color: #b91d1d;
} */


#message {
    margin-top: 20px;
    padding: 10px;
    border-radius: 4px;
    font-size: 16px;
    color: black; /* Changed to regular text color */
    background-color: transparent; /* No background color */
    max-width: 600px;
}

/* Popup Modal Styles */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto; /* 5% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.success {
    background-color: #4CAF50; /* Green */
}

.error {
    background-color: #f44336; /* Red */
}

/* Styles for form elements */
label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
input[type="file"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #333;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}